*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  /* rder: 5px solid white;  bo */
}
.nav-logo{
    height: 50px;
    width: 100px;   
}
.logo{
background-image: url("logo.png");
background-size: cover;
/* if you give height: and width: before image url will not work;;; */
height: 50px;
width: 100px;

}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
/* -------------BOX 2 ADDRESS---------------------------- */
.add-first{
    color: #cccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}   
/* }
BOX 3 SEARCH */
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    border: border-box;
    /* justify-content: space-evenly; */
}
.nav-search:hover{
   
    border: 2px solid rgb(232, 187, 7);
}
/* BOX 4 BUTTONS */
.search-select{
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 50px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
background-color: rgb(231, 165, 22);
border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;

}
/* ------BOX 5----- */
/* .search-bar{
    display: flex;H
    height: 40px;
    border: none;
    justify-content: space-evenly;
    border-color: 0px sloid transparent;
}
.bar{
    width: 300px;
    
}
.icon{
    background-color: aqua;
    color: black;
    width: 30px;
    display: flex;
} */
spam{
    font-size: 0.7rem;
 }
 nav-second{
    font-size: 0.8rem;
    font-weight: 800;
 }
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.8rem;
   font-weight: 800;
}
.nav-2{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div-ops p{
    display: inline;
    margin-left: 20px;
}
.div-ops{
    width: 80%;
    font-size: 0.8rem;
    
}
.sell{
    font-size: 0.9rem;
    font-weight: 700;
}
/* \-----------hero dection------- */
.hero-section{
    background-image: url("background.jpg");
    height: 600px;
    background-size: cover;
    display: flex;  
}
.hero-mes{
    background-color:white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.hero-mes a{
    color: #007185;
}